<div style="background-color:Black;">
<h2>ALBARANES</h2>
</div>
    <ul>
        <li>
            <a href='@Url.Action("Nuevo","Delivery")'>
               <img src="../../img/NuevoAlbaran_ico.png" alt="" />
               </a>
        </li>
        <li>
            <a href='@Url.Action("Index","Delivery")'>
               <img src="../../img/Busqueda_ico.png" alt="" />
               </a>
        </li>
    </ul>
