<div style="background-color:Black;">
<h2>FACTURAS</h2>
</div>
    <ul>
        <li>
            <a href='@Url.Action("Nuevo","Invoice")'>
               <img src="../../img/NuevaFactura_ico.png" alt="" />
               </a>
        </li>
        <li>
            <a href='@Url.Action("Index","Invoice")'>
               <img src="../../img/Busqueda_ico.png" alt="" />
               </a>
        </li>
    </ul>
