<h3>Presupuestos</h3>
    <ul>           
        <li>
            <a href='@Url.Action("Index","Invoice")'>
               <img src="../../img/Busqueda_ico.png" alt="" />
               </a>
        </li>
       @* <li>
            
            <a href='@Url.Action("Index", "Supplier")'>
                @*<img src="" alt="icono" />
                <span>Proovedor</span></a>
        </li>
        <li>
            <a href='@Url.Action("Index","Product")'>
                @*<img src="" alt="icono" />
                <span>Productos</span></a>
        </li>*@
    </ul>
