<h3 style="color:Black;">Buscador</h3>                        
    
<div class="rowForm">

    <label class="fieldName" style="width: 100px;">Nombre:</label>
    <input name="CustomerName" id="CustomerName2" type="text" style="width: 120px;" />        
</div>
<div class="rowForm">
    <label class="fieldName" style="width: 100px;">Apellidos:</label>
    <input name="CustomerSurName" id="CustomerSurName2" type="text" style="width: 200px;" />        
</div>
<div class="rowForm">
    <label class="fieldName" style="width: 100px;">DNI / NIF:</label>
    <input name="NIF2" id="NIF2" type="text" style="width: 120px;" />        
</div>
