@{
    ViewBag.Title = "Pagina Inicio";
    Layout = "~/Views/Shared/AdministrationLayout.cshtml";
}
<br />
<p>
    En esta seccion se podran administrar las <b>Tablas Maestras</b>:
</p>
<ul>
    <li> - Administración de <b>Clientes</b>: Altas, Bajas y Modificaciones</li>
    <li> - Administración de <b>Proveedores</b>: Altas, Bajas y Modificaciones</li>
    <li> - Administración de <b>Productos</b>: Altas, Bajas y Modificaciones</li>
    <li> - Administración de <b>Coches</b>: Altas, Bajas y Modificaciones</li>
</ul>