<h3 class="titleTabs" style="margin:10px 0 10px 0;">Buscador</h3>                        
    
<div class="rowForm">
<span>
<label class="fieldName" style="width: 100px;">Nombre:</label>
<input name="CustomerName" id="CustomerName" type="text" style="width: 120px;" />        
</span><span>
<label class="fieldName" style="width: 100px;">Apellidos:</label>
<input name="CustomerSurName" id="CustomerSurName" type="text" style="width: 200px;" />        
</span>
</div>
<div class="rowForm">
<label class="fieldName" style="width: 100px;">DNI / NIF:</label>
<input name="NIF" id="NIF" type="text" style="width: 120px;" />        
</div>
