@{
    ViewBag.Title = "Pagina Inicio";
    Layout = "~/Views/Shared/EstimateLayout.cshtml";
}

<h2>Presupuestos</h2>

@using (Html.BeginForm("SearchInvoices", "Invoice", FormMethod.Post, new { id = "BuscarInvoiceForm" }))
{
    <div class="criteriaContainer">
        @Html.Partial("~/Views/Estimate/Criteria.cshtml") 
    </div>
    <div class="buttonBarCriteria">
        <div class="leftContent"></div>            
        <div class="rightContent">
            <input type="submit" id="buscarInvoice" onkeypress="return event.keyCode!=13" value="Buscar" />
        </div>
    </div>            
}

<div id="ListContainer1">
    @Html.Partial("~/Views/Estimate/List.cshtml")
</div>

<script type="text/javascript">
    jQuery("#buscarInvoice").click(function (e) {
        var searchUrl='@Url.Action("SearchInvoices","Invoice")';
        e.preventDefault();
        jQuery.ajax({
            url: searchUrl,
            type: "POST",
            data: {
                InvoiceId: jQuery("#InvoiceId").val(),
                CustomerName: jQuery("#CustomerName").val(),
                InvoiceDate: jQuery("#invoiceDate").val(),
                NIF: jQuery("#InvoiceCustomerNIF").val()
            },
            cache: false,
            success: function (data) {
                jQuery("#ListContainer1").html(data);
            }
        });
    });
</script>