@using Motorlam.Entities
@{
    ViewBag.Title = "SearchCustomer";
    var customers = (IList<Customer>)ViewBag.Customers;
}

@using (Html.BeginForm("SearchCustomer", "Invoice", FormMethod.Post, new { id = "BuscarCustomerForm" }))
{
        <div class="criteriaContainer">
            @Html.Partial("~/Views/Invoice/CriteriaCustomer.cshtml") 
        </div>
        <div class="buttonBarCriteria">
            <div class="leftContent"></div>            
            <div class="rightContent">
                <input type="submit" id="buscarCustomer" onkeypress="return event.keyCode!=13" value="Buscar" />
            </div>
        </div>            
}
  
        <div id="ListContainerCustomer">
            @Html.Partial("~/Views/Invoice/ListCustomer.cshtml", customers)
        </div>

<script type="text/javascript">


    jQuery("#buscarCustomer").click(function (e) {
        var url = '@Url.Action("SearchCustomer","Invoice")';
        e.preventDefault();
        jQuery.ajax({
            url: url,
            type: 'POST',
            data: {
                CustomerName: jQuery("#CustomerName").val(),
                CustomerSurName: jQuery("#CustomerSurName").val(),
                NIF: jQuery("#NIF").val()
            },
            cache: false,
            success: function (data) {
                jQuery("#ListContainerCustomer").html(data);
            }
        });

    });
</script>

