<#@ template language="C#" hostspecific="True" debug="True" #>
<#@ output extension="cs" #>
<#@ include file="T4Toolbox.tt" #>
<#@ include file="EntityTemplate.tt" #>
<#
	EntityTemplate template = new EntityTemplate();
	template.EntityName = "MethodPayment";
	template.BaseTable = "MethodsPayment	";
	template.Render();
#>
