 @using Motorlam.Entities

<h2 class="titleTabs" style="margin:10px 0 10px 0;">Buscador</h2>      
<div id="tabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all">                           
     <div class="tabsContent">           
       <div class="infoAdminContent">
            <div class="rowForm">
            <span>
                <label class="fieldName" style="width: 100px;">Nombre:</label>
                <input name="@SupplierFields.SupplierName" id="@SupplierFields.SupplierName" type="text" style="width: 200px;" />           
                </span><span>
                <label class="fieldName" style="width: 100px;">CIF:</label>
                <input name="@SupplierFields.SupplierNIF" id="@SupplierFields.SupplierNIF" type="text" style="width: 100px;" />        
                </span>
            </div>
        </div>
    </div>
</div>
