@{
    ViewBag.Title = "Pagina Inicio";
    Layout = "~/Views/Shared/AdministrationLayout.cshtml";
}

<h2>Tipos de Productos</h2>
  
<div id="ListContainer">
    @Html.Partial("~/Views/TypeProduct/List.cshtml")
</div>

