@{
    ViewBag.Title = "Pagina Inicio";
    Layout = "~/Views/Shared/AdministrationLayout.cshtml";
}

<h2>Marcas de Coche</h2>

  
<div id="ListContainer">
    @Html.Partial("~/Views/Brand/List.cshtml")
</div>

