@{
    ViewBag.Title = "Pagina Inicio";
    Layout = "~/Views/Shared/AdministrationLayout.cshtml";
}

<h2>Coches</h2>

@using (Html.BeginForm("Buscar", "Car", FormMethod.Post, new { id = "BuscarForm" }))
{
        <div class="criteriaContainer">
            @Html.Partial("~/Views/Car/Criteria.cshtml") 
        </div>
        <div class="buttonBarCriteria">
            <div class="leftContent"></div>            
            <div class="rightContent">
                <input type="submit" id="buscar" onkeypress="return event.keyCode!=13" value="Buscar" />
            </div>
        </div>
            
}
  
        <div id="ListContainer">
            @Html.Partial("~/Views/Car/List.cshtml")
        </div>

<script type="text/javascript">

    jQuery("#buscar").Search({
        formName: "BuscarForm",
        listContainer: "ListContainer"
    });
   
</script>

